* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f0f8ff, #add8e6);
    display: block;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: 100%;
    /* j'utilise le flex seulement pour le placement de ma box de présention et non pour l'animation */
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    position: relative;
    height: 80vh; 
    width: 50vw;  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #f8f9fa; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
